<html>
  <head>
    <title>Angular App</title>
    <script src="js/angular.min.js"></script>
    <script src="js/ui-router.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="chat">
  <ui-view></ui-view>
  
  
  <script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1>stuffs</h1>
  </div>
  
  <div ng-repeat="post in posts | orderBy: '-upvotes'">
    <a ng-show="post.link" href="{{post.link}}" style="color:black;text-decoration: none;">
    {{post.title}}
    </a>
    <span ng-hide="post.link">
    {{post.title}}
    </span>
    <span ng-click="upvote(post)">
      - upvotes: {{post.upvotes}}
    </span>
    </div>
    <form ng-submit="addPost()">
    <input type="text" placeholder="Title" ng-model="title"></input><br>
    <input type="text" placeholder="Link" ng-model="link"></input><br>
    <button type="submit">Post</button>
    </form>
  
  </script>  

  <script type="text/ng-template" id="/home.html">

  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>

</script>

</body>
</html>
